h1,
ul {
  text-align: center;
}
ul {
  font-size: 15 px;
}
p {
  text-align: center;
}
.location {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.col-2 {
  display: block;
  margin: 0 auto;
}
.sunset {
  margin: auto;
  padding: 0;
  display: center;
}

.card {
  text-align: center;
}
