body {
  font-family: "Times New Roman", Times, serif;
}
.weather-shecodes-app {
  max-width: 600px;
  margin: 35px auto;
}
.weather-shecodes {
  padding: 25px;
  border: 1px solid #5aebf6;
  border-radius: 15px;
  background: rgba(190, 154, 212, 0.741);
  background: gradient(3150deg, rgb(31, 31, 230) 100% rgb(92, 77, 128) 23%);
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
  display: block;
  color: rgb(15, 13, 14);
  opacity: 90%;
}
.top {
  text-align: center;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 18px;
  text-transform: capitalize;
}
img {
  width: 50px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.weather-temperature {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
.weather-temperature #temperature {
  font-size: 30px;
  margin: 5px 2px 5px 5px;
  margin-right: 0;
}
.weather-temperature .units {
  font-size: 15px;
  margin-left: 0px;
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}
.weatherInfo {
  list-style: none;
  margin-left: 2px;
  padding-left: 0%;
  display: block;
  line-height: 20px;
  font-size: 13px;
}

.viewtimes {
  text-align: right;
  line-height: 20px;
  font-size: 13px;
  list-style: none;
}
.weatherLooks {
  text-align: center;
  line-height: 10px;
  font-size: 12px;
  padding: 0;
  margin: auto;
  padding-bottom: 15px;
}
.card-title {
  font-size: 13px;
  font-weight: bold;
  opacity: 85%;
}
#forecast {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.daysWeather {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 5px;
  margin: auto;
  padding: 0%;
}
.body {
  text-align: center;
  font-size: 10px;
  margin: auto;
}
.openSource {
  text-decoration: none;
  font-family: monospace;
}
.weather-temperature .units .active {
  text-decoration: none;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
